<mat-tab-group mat-align-tabs="center" color="accent">
    <mat-tab label="Passenger">
       
            <mat-form-field>
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mindtree">
            </mat-form-field>
            <mat-card class="example-card mat-elevation-z8">
           
                <mat-table [dataSource]="dataSource" #mytable matSort>

                    <!-- ID Column -->
                    <ng-container matColumnDef="cId">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Id </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="Id"> {{row.cId}} </mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="address">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="Address"> {{row.address}} </mat-cell>
                    </ng-container>

                    <!-- Progress Column -->
                    <ng-container matColumnDef="customername">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="Name"> {{row.customername}} </mat-cell>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="seatno">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Seat No </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="Seat"> {{row.seatno}} </mat-cell>
                    </ng-container>

                    <!-- Color Column -->
                    <ng-container matColumnDef="checkenin">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Checkenin </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="Checkin"> {{row.checkenin}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="passport">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Passport </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="Passport"> {{row.passport}} </mat-cell>
                    </ng-container>




                    <ng-container matColumnDef="DOB">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> DOB </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="DOB"> {{row.DOB | date:'shortDate'}} </mat-cell>
                    </ng-container>




                    <ng-container matColumnDef="category">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Category </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="Category"> {{row.category}} </mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="ancillayService">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> AncillayService </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="Ancillay"> {{row.ancillayService}} </mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="meal">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Meal </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="Meal"> {{row.meal}} </mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="shop">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Shop </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="Shop"> {{row.shop}} </mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="Action" class="action-link">
                            <button rel="apple-touch-icon" mat-icon-button color="accent" (click)="openDialog('Ancillay',row)"><mat-icon matTooltip="AncillayService" color="accent">edit</mat-icon></button>
                            <button rel="apple-touch-icon" mat-icon-button color="accent" (click)="openDialog('Meal',row)"><mat-icon matTooltip="Meal" color="accent">local_dining</mat-icon></button>
                            <button rel="apple-touch-icon" mat-icon-button color="accent" (click)="openDialog('Shop',row)"><mat-icon matTooltip="Shoping" color="accent">store</mat-icon></button>

                        </mat-cell>
                    </ng-container>




                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;">
                    </mat-row>
                </mat-table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            


        </mat-card>
    </mat-tab>
    <mat-tab label="Seat Layout">
        <div *ngIf="isUpdatedFlight">
            <app-seat-lay-out [seatsLayout]="seatsLayout" [flight]="flight" [type]='mealMap'></app-seat-lay-out>
            <router-outlet></router-outlet>
        </div>

    </mat-tab>

</mat-tab-group>