<mat-card class="example-card">
    <h4>
        Upcoming Flights are ...
    </h4>
</mat-card>

<mat-card class="example-card head">

    <section class="row">
        <article class="col">
            <div mat-card-avatar class=" example-header-image "></div>
        </article>
        <article class="col">
            Planename
            <br> Planeno

        </article>
        <article class="col">
            Departure Time
            <br> DepartureFrom
        </article>
        <article class="col">
            Duration


        </article>
        <article class="col">
            ArrivalTime
            <br> ArrivalTo
        </article>
        <article class="col" style='font-size:20px;'>
            <span>&#8377;</span> Price
        </article>
        <article class="col">

            Detail

        </article>
    </section>

</mat-card>
<!-- |adminFlight -->
<div *ngFor="let plane of flight |adminFlight ">

    <mat-card class="example-card">

        <section class="row">
            <article class="col">
                <div mat-card-avatar class=" example-header-image "></div>
            </article>
            <article class="col">
                {{plane.planename}}
                <br> {{plane.planeno}}

            </article>
            <article class="col">
                {{plane.departure| date:'shortTime'}}
                <br> {{plane.departureFrom}}
            </article>
            <article class="col">
                {{plane.duration}}
                <div class="head">
                    Non stop
                </div>


            </article>
            <article class="col">
                {{plane.arrival| date:'shortTime'}}
                <br> {{plane.arrivalTo}}
            </article>
            <article class="col" style='font-size:20px;'>
                <span>&#8377;</span> {{plane.price}}
            </article>
            <article>

                <button class="btn" mat-flat-button color="accent" (click)="selectedFlight(plane)">Flight
                    Detail</button>

            </article>
        </section>

    </mat-card>

</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>