<div class="container">
    <div class="img">
        <img src="../../../assets/undraw_airport_2581.svg" alt="airport">
    </div>
    <div class="login-content">
        <form [formGroup]="loginForm">
            <img src="../../../assets/avatar.svg" alt="avatar">
            <h2 class="title">Welcome</h2>
            <div class="form-group">
                <mat-form-field style="width: 100%" appearance="outline">
                    <mat-label>User Id</mat-label>
                    <input matInput placeholder="user Id" formControlName="username">

                    <mat-icon matSuffix>face</mat-icon>

                    <mat-error *ngIf="f.username.invalid">
                        Enter a valid
                        <strong>User Id</strong>
                    </mat-error>
                </mat-form-field>


            </div>
            <div class="form-group">
                <mat-form-field style="width: 100%" appearance="outline">
                    <mat-label>password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="password"
                        formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>


                    <mat-error *ngIf="f.password.invalid">
                        Enter a valid
                        <strong>password</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <button mat-flat-button color="accent" class="btn" type="submit" [disabled]="loading"
                (click)="onSubmit()">Login
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            </button>
            <div>
                <button mat-button style="padding: 1rem;" (click)="signInWithGoogle()">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    <mat-icon style="width: 50px; height:30px" svgIcon="logo"></mat-icon> Login With Google
                </button>
            </div>
        </form>

        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
    </div>
</div>