<mat-tab-group mat-align-tabs="center" color="accent">
    <mat-tab label="Passenger">
        <div class="top">

            <button mat-button (click)="openDialog('Add',{})" mat-flat-button color="accent"> <mat-icon>add</mat-icon>Add Passenger</button>
            <section class="example-section">
                <mat-checkbox class="example-margin" [(ngModel)]="isPassport" (change)="applyCheckFilter('passport', '')">
                    Passport</mat-checkbox>
                <mat-checkbox class="example-margin" [(ngModel)]="isAddress" (change)="applyCheckFilter('address', '')">
                    Address</mat-checkbox>
                <mat-checkbox class="example-margin" [(ngModel)]="isDOB" (change)="applyCheckFilter('DOB','')">DOB
                </mat-checkbox>
            </section>
        </div>


        <mat-card class="example-card">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" #mytable matSort>

                    <!-- ID Column -->
                    <ng-container matColumnDef="cId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let row"> {{row.cId}} </td>
                    </ng-container>


                    <ng-container matColumnDef="address">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> address </th>
                        <td mat-cell *matCellDef="let row"> {{row.address}} </td>
                    </ng-container>

                    <!-- Progress Column -->
                    <ng-container matColumnDef="customername">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.customername}} </td>
                    </ng-container>

                    <!-- Name Column -->
                    <ng-container matColumnDef="seatno">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> seat No </th>
                        <td mat-cell *matCellDef="let row"> {{row.seatno}} </td>
                    </ng-container>

                    <!-- Color Column -->
                    <ng-container matColumnDef="checkenin">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> checkenin </th>
                        <td mat-cell *matCellDef="let row"> {{row.checkenin}} </td>
                    </ng-container>

                    <ng-container matColumnDef="passport">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> passport </th>
                        <td mat-cell *matCellDef="let row"> {{row.passport}} </td>
                    </ng-container>




                    <ng-container matColumnDef="DOB">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> DOB </th>
                        <td mat-cell *matCellDef="let row"> {{row.DOB | date:'shortDate'}} </td>
                    </ng-container>




                    <ng-container matColumnDef="category">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> category </th>
                        <td mat-cell *matCellDef="let row"> {{row.category}} </td>
                    </ng-container>


                    <ng-container matColumnDef="ancillayService">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ancillayService </th>
                        <td mat-cell *matCellDef="let row"> {{row.ancillayService}} </td>
                    </ng-container>

                    <ng-container matColumnDef="meal">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> meal </th>
                        <td mat-cell *matCellDef="let row"> {{row.meal}} </td>
                    </ng-container>


                    <ng-container matColumnDef="Action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                        <td mat-cell *matCellDef="let row" class="action-link">
                            <button mat-icon-button color="accent" (click)="openDialog('Update',row)" matTooltip="Update"><mat-icon color="accent">edit</mat-icon></button>
                            <button mat-icon-button color="accent" (click)="openDialog('Delete',row)"><mat-icon matTooltip="Delete" color="accent">delete</mat-icon></button>
                            <!-- <a (click)="openDialog('Update',row)">
                                <mat-icon matTooltip="Update" color="accent">edit</mat-icon>
                            </a> -->
                            <!-- <a (click)="openDialog('Delete',row)">
                                <mat-icon matTooltip="Delete" color="accent">delete</mat-icon>
                            </a> -->
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
            </div>
        </mat-card>
    </mat-tab>
    <mat-tab label="Flight Service ">

        <mat-tab-group mat-align-tabs="center" color="accent">
            <mat-tab label="AncillaryServices">

                <mat-card class="example-card">
                    <mat-card-header>

                        <mat-card-title>AncillaryServices</mat-card-title>

                    </mat-card-header>
                    <hr>
                    <mat-card-content>
                        <p>
                            {{flight?.ancillaryServices}}
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <mat-slide-toggle [(ngModel)]="changeAnci">Change ancillayService</mat-slide-toggle>

                    </mat-card-actions>
                </mat-card>

                <mat-card class="example-card" *ngIf="changeAnci">
                    <mat-card-header>

                        <mat-form-field>
                            <input placeholder="ancillaryServices" matInput [(ngModel)]="flight.ancillaryServices">
                        </mat-form-field>

                    </mat-card-header>


                    <mat-card-actions>
                        <button mat-button type="submit" (click)="addAncillary()" mat-flat-button color="warn">Cange</button>

                    </mat-card-actions>
                </mat-card>
            </mat-tab>
            <mat-tab label="ShoppingItems">


                <mat-card class="example-card">
                    <mat-card-header>

                        <mat-card-title>ShoppingItems</mat-card-title>

                    </mat-card-header>
                    <hr>
                    <mat-card-content>
                        <p>
                            {{flight?. shoppingItems}}
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <mat-slide-toggle [(ngModel)]="changeShoppingItems">Change shoppingItems</mat-slide-toggle>

                    </mat-card-actions>
                </mat-card>

                <mat-card class="example-card" *ngIf="changeShoppingItems">
                    <mat-card-header>

                        <mat-form-field>
                            <input placeholder=" shoppingItems" matInput [(ngModel)]="flight. shoppingItems">
                        </mat-form-field>

                    </mat-card-header>


                    <mat-card-actions>
                        <button mat-button type="submit" (click)="addshoppingItems()" mat-flat-button color="warn">Cange</button>

                    </mat-card-actions>
                </mat-card>

            </mat-tab>
            <mat-tab label="SpecialMeals">
                <mat-card class="example-card">
                    <mat-card-header>

                        <mat-card-title>SpecialMeals</mat-card-title>

                    </mat-card-header>
                    <hr>
                    <mat-card-content>
                        <p>
                            {{flight?.specialMeals}}
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <mat-slide-toggle [(ngModel)]="changeSpecialMeals">Change specialMeals</mat-slide-toggle>

                    </mat-card-actions>
                </mat-card>

                <mat-card class="example-card" *ngIf="changeSpecialMeals">
                    <mat-card-header>

                        <mat-form-field>
                            <input placeholder="specialMeals" matInput [(ngModel)]="flight.specialMeals">
                        </mat-form-field>

                    </mat-card-header>


                    <mat-card-actions>
                        <button mat-button type="submit" (click)="addspecialMeals()" mat-flat-button color="warn">Cange</button>

                    </mat-card-actions>
                </mat-card>
            </mat-tab>
        </mat-tab-group>






















    </mat-tab>

</mat-tab-group>