<mat-tab-group mat-align-tabs="center" color="accent">
    <mat-tab label="Passenger">
        <div class="top">

            <button rel="apple-touch-icon" mat-button (click)="openDialog('Add',{})" mat-flat-button color="accent"> <mat-icon>add</mat-icon>Add Passenger</button>
            <section class="example-section">
                <mat-checkbox class="example-margin" [(ngModel)]="isPassport" (change)="applyCheckFilter('passport','')">
                    Passport</mat-checkbox>
                <mat-checkbox class="example-margin" [(ngModel)]="isAddress" (change)="applyCheckFilter('address','')">
                    Address</mat-checkbox>
                <mat-checkbox class="example-margin" [(ngModel)]="isDOB" (change)="applyCheckFilter('DOB','')">DOB
                </mat-checkbox>
            </section>
        </div>


        <mat-card class="example-card mat-elevation-z8">
            
            
                <mat-table [dataSource]="dataSource" #mytable matSort>

                   
                    <ng-container matColumnDef="cId">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="cId"> {{row.cId}} </mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="address">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> address </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="address"> {{row.address}} </mat-cell>
                    </ng-container>

                   
                    <ng-container matColumnDef="customername">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="customername"> {{row.customername}} </mat-cell>
                    </ng-container>

                   
                    <ng-container matColumnDef="seatno">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> seat No </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="seatno"> {{row.seatno}} </mat-cell>
                    </ng-container>

                    
                    <ng-container matColumnDef="checkenin">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> checkenin </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="checkenin"> {{row.checkenin}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="passport">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> passport </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="passport"> {{row.passport}} </mat-cell>
                    </ng-container>




                    <ng-container matColumnDef="DOB">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> DOB </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="DOB"> {{row.DOB | date:'shortDate'}} </mat-cell>
                    </ng-container>




                    <ng-container matColumnDef="category">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> category </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="category"> {{row.category}} </mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="ancillayService">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> ancillayService </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="ancillayService"> {{row.ancillayService}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="meal">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> meal </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="meal"> {{row.meal}} </mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="Action">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                        <mat-cell *matCellDef="let row" data-label="Action" class="action-link">
                            <button rel="apple-touch-icon" mat-icon-button color="accent" (click)="openDialog('Update',row)" matTooltip="Update"><mat-icon color="accent">edit</mat-icon></button>
                            <button rel="apple-touch-icon" mat-icon-button color="accent" (click)="openDialog('Delete',row)"><mat-icon matTooltip="Delete" color="accent">delete</mat-icon></button>

                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"> </mat-row>
                  
                </mat-table>

                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
           
        </mat-card>
    </mat-tab>
    <mat-tab label="Flight Service ">

        <mat-tab-group mat-align-tabs="center" color="accent">
            <mat-tab label="AncillaryServices">

                <mat-card class="example-card">
                    <mat-card-header>

                        <mat-card-title>AncillaryServices</mat-card-title>

                    </mat-card-header>
                    <hr>
                    <mat-card-content>
                        <p>
                            {{flight?.ancillaryServices}}
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <mat-slide-toggle [(ngModel)]="changeAnci">Change ancillayService</mat-slide-toggle>

                    </mat-card-actions>
                </mat-card>

                <mat-card class="example-card" *ngIf="changeAnci">
                    <mat-card-header>

                        <mat-form-field>
                            <input placeholder="ancillaryServices" matInput [(ngModel)]="flight.ancillaryServices">
                        </mat-form-field>

                    </mat-card-header>


                    <mat-card-actions>
                        <button mat-button type="submit" (click)="addAncillary()" mat-flat-button color="warn">Cange</button>

                    </mat-card-actions>
                </mat-card>
            </mat-tab>
            <mat-tab label="ShoppingItems">


                <mat-card class="example-card">
                    <mat-card-header>

                        <mat-card-title>ShoppingItems</mat-card-title>

                    </mat-card-header>
                    <hr>
                    <mat-card-content>
                        <p>
                            {{flight?. shoppingItems}}
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <mat-slide-toggle [(ngModel)]="changeShoppingItems">Change shoppingItems</mat-slide-toggle>

                    </mat-card-actions>
                </mat-card>

                <mat-card class="example-card" *ngIf="changeShoppingItems">
                    <mat-card-header>

                        <mat-form-field>
                            <input placeholder=" shoppingItems" matInput [(ngModel)]="flight. shoppingItems">
                        </mat-form-field>

                    </mat-card-header>


                    <mat-card-actions>
                        <button mat-button type="submit" (click)="addshoppingItems()" mat-flat-button color="warn">Cange</button>

                    </mat-card-actions>
                </mat-card>

            </mat-tab>
            <mat-tab label="SpecialMeals">
                <mat-card class="example-card">
                    <mat-card-header>

                        <mat-card-title>SpecialMeals</mat-card-title>

                    </mat-card-header>
                    <hr>
                    <mat-card-content>
                        <p>
                            {{flight?.specialMeals}}
                        </p>
                    </mat-card-content>
                    <mat-card-actions>
                        <mat-slide-toggle [(ngModel)]="changeSpecialMeals">Change specialMeals</mat-slide-toggle>

                    </mat-card-actions>
                </mat-card>

                <mat-card class="example-card" *ngIf="changeSpecialMeals">
                    <mat-card-header>

                        <mat-form-field>
                            <input placeholder="specialMeals" matInput [(ngModel)]="flight.specialMeals">
                        </mat-form-field>

                    </mat-card-header>


                    <mat-card-actions>
                        <button mat-button type="submit" (click)="addspecialMeals()" mat-flat-button color="warn">Cange</button>

                    </mat-card-actions>
                </mat-card>
            </mat-tab>
        </mat-tab-group>






















    </mat-tab>

</mat-tab-group>