<div id="carousel-example-2" class="carousel slide carousel-fade" data-ride="carousel">
    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-2" data-slide-to="0" class="active">
        </li>
        <li data-target="#carousel-example-2" data-slide-to="1">
        </li>
        <li data-target="#carousel-example-2" data-slide-to="2">
        </li>
    </ol>
    <!--/.Indicators-->
    <!--Slides-->
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <div class="view">
                <img class="d-block w-100" src="../../../assets/plane.jpg" height="515px" alt="First slide">
                <div class="mask rgba-black-light">
                </div>
            </div>
            <div class="carousel-caption">
                <h3 class="h3-responsive">Welcome To MindTree Flight
                    <mat-icon>flight_takeoff</mat-icon>
                </h3>
                <p>Fly the Globe
                    <mat-icon>flight</mat-icon>
                </p>
            </div>
        </div>
        <div class="carousel-item">
        </div>