    a {
        margin-left: 5%;
        color: white;
        text-decoration: none
    }
    
    img {
        margin-left: 50%;
    }
    
    .logout {
        margin-left: 5%;
    }
    
    header {
        align-content: center;
        align-items: center;
    }
    
    footer {
        position: unset;
        left: 0;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 5px;
        background-color: #ff4583;
        color: #fff;
    }
    
    @media(max-width: 850px) {
        img {
            margin-left: 5%;
        }
    }
    
    