<article>
    <header>
        <nav>
            <mat-toolbar color="accent" *ngIf="currentUser">
                <mat-icon matTooltip="Home" routerLink="/">flight</mat-icon>
                <a routerLink="/checkin" routerLinkActive="active" *ngIf="!isAdmin">CheckIn</a>
                <a routerLink="/inflight" routerLinkActive="active" *ngIf="!isAdmin">InFlight</a>
                <a routerLink="/admin" routerLinkActive="active " *ngIf="isAdmin">Admin</a>
                <img src="../../../assets/avatar.svg " width="50px " height="100px " alt=" ">
                <mat-icon class="logout " matTooltip="Logout " (click)="logout() ">logout</mat-icon>
            </mat-toolbar>
        </nav>
    </header>
    <!-- main app container -->
    <div>
        <router-outlet></router-outlet>
    </div>
    <footer>
        <p> @2020 All Rights Are Reserved</p>
    </footer>
</article>