<mat-card class="example-card">
    <h4>
        OnGoing Flights are ...
    </h4>
</mat-card>
<mat-card class="example-card head">

    <section class="row">
        <article class="col">
            <div mat-card-avatar class=" example-header-image "></div>
        </article>
        <article class="col">
            Planename
            <br> Planeno

        </article>
        <article class="col">
            Departure Time
            <br> DepartureFrom
        </article>
        <article class="col">
            Duration


        </article>
        <article class="col">
            ArrivalTime
            <br> ArrivalTo
        </article>
        <article class="col" style='font-size:20px;'>
            <span>&#8377;</span> Price
        </article>
        <article class="col">

            Detail

        </article>
    </section>

</mat-card>
<!--  | currentFlight -->
<section *ngFor="let plane of planes | currentFlight">

    <mat-card class="example-card">

        <article class="row">
            <div class="col">
                <div mat-card-avatar class=" example-header-image "></div>
            </div>
            <div class="col">
                {{plane.planename}}
                <br> {{plane.planeno}}

            </div>
            <div class="col">
                {{plane.departure| date:'shortTime'}}
                <br> {{plane.departureFrom}}
            </div>
            <div class="col">
                {{plane.duration}} 
                <div class="head">
                    Non stop
                </div> 


            </div>
            <div class="col">
                {{plane.arrival| date:'shortTime'}}
                <br> {{plane.arrivalTo}}
            </div>
            <div class="col" style='font-size:20px;'>
                <span>&#8377;</span> {{plane.price}}
            </div>
            <div >

                <button class="btn" mat-raised-button color="accent" (click)="selectedFlight(plane)">Flight Detail</button>

            </div>
        </article>

    </mat-card>

</section>


<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>